canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 3px solid #0095DD;
}

.nav {
  background: #eee;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: background: #eee;
    color: #0095DD;
    text-align: center;
    padding-top: 10px;
}

#githubIcon {
  padding-left: 10px;
}