body {
  font-family: Chalkduster, fantasy;
}

.container {
  padding-top: 50px;
  text-align: center;
}

.nav {
  background: #eee;
  margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: background: #eee;
    color: #0095DD;
    text-align: center;
    padding-top: 10px;
}

#githubIcon {
  padding-left: 10px;
}