.nav {
  background: #eee;
}

.container {
  padding-top: 30px;
  width: 500px;
  display: block;
  margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: background: #eee;
    color: #0095DD;
    text-align: center;
    padding-top: 10px;
}

#HighScoreTime {
  color: #adbcce;
}

#LongDurationTime {
  color: #adbcce;
}

#githubIcon {
  padding-left: 10px;
}